.cashlessNetworkCard {
  display: flex;
  /* background-color: #daf0d2; */
  background-color: #f0faf0;
  margin-bottom: 12px;
  justify-content: space-between;
}

.cashlessServicesContainer {
  padding: 16px 0 16px 16px;
}

.cashlessPercent {
  color: #1e293b;
  font-size: 24px;
  font-weight: 600;
  margin-top: 12px;
}

.cashlessPreference {
  color: #475569;
  font-size: 12px;
  font-weight: 400;
  max-width: 138px;
}

.cashlessNetworkImg {
  align-self: self-end;
  padding-right: 16px;
}

.cashlessNetworkImg img {
  display: block;
}
